<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.astock-review.server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd /Users/fy/WorkBuddy/2026-08-21-20-23-08/astock-review &amp;&amp; exec caffeinate -s /Users/fy/.workbuddy/binaries/python/envs/default/bin/python -m uvicorn server:app --host 0.0.0.0 --port 8765</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/fy/WorkBuddy/2026-08-21-20-23-08/astock-review</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/astock-review.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/astock-review.err</string>
</dict>
</plist>
